{% extends 'base.html.twig' %}

{% block title %}Hello PostController!{% endblock %}

{% block body %}
<h1>Page article</h1>
<p>Title : {{ post.title }}</p>
<p>Body : {{ post.body }}</p>
{% endblock %}