{% extends 'base.html.twig' %}

{% block title %}Hello PostController!{% endblock %}

{% block body %}
<h1>Page article</h1>
<h3>Title : {{ post.title }}</h3>
<p>Body : {{ post.body|raw }}</p>
{% endblock %}


un truc que je ne saisi pas : dans le projet doctrine_base on à recuperer les informations dans le twig sans faire de requetes supplémentaires
par exemple pour les catégories dans la pge posts.html.twig on a fait 